.inputfieldtext {
    width: 311px;
    border: none;
    border-radius: 20px;
    margin-top: 30px;
    background: linear-gradient(123.64deg, rgba(255, 255, 255, 0) 0.01%, rgba(255, 255, 255, 0.04));
    backdrop-filter: blur(42px);
    padding: 10px 20px;
    font-weight: 500;
    color: #fff;
  }
  
  .backgroundChild {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 20px;
    background: linear-gradient(127.09deg, rgba(6, 11, 40, 0.94), rgba(10, 14, 35, 0.49));
    backdrop-filter: blur(120px);
    width: 436px;
    height: 713px;
  }
  
  .alreadyHaveAn1 {
    font-weight: 500;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: 40px;
    position: relative;
    z-index: 2;
    /* Increase the z-index to bring the error message to the front */
    text-align: center;
    padding: 10px 20px;
  }
  
  .b {
    font-family: Roboto;
    color: #fff;
  }
  
  .alreadyHaveAnContainer {
    position: absolute;
    top: 648px;
    left: 112px;
    line-height: 140%;
    text-align: center;
  }
  
  .div {
    position: relative;
    line-height: 12px;
  }
  
  .icon {
    overflow: hidden;
    display: none;
    flex-direction: column;
    padding: 0px 0.5px;
    align-items: center;
    justify-content: flex-start;
  }
  
  .text3 {
    position: relative;
    font-size: 10px;
    line-height: 150%;
    font-family: Roboto;
    color: #fff;
  }
  
  .buttonBody {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
  }
  
  .heightStructure {
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  
  .content4 {
    position: relative;
    background-color: #c4c4c4;
    width: 0px;
    height: 0px;
  }
  
  .minwidth {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 0px 12px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .widthStructure {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .buttonbase {
    position: absolute;
    height: 6.31%;
    width: 80.28%;
    top: 81.49%;
    right: 9.75%;
    bottom: 12.2%;
    left: 9.98%;
    border-radius: 12px;
    background-color: #0075ff;
    backdrop-filter: blur(120px);
    display: flex;
    flex-direction: row;
    padding: 0px 7.999999523162842px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 11px;
    color: #000;
    font-family: 'Font Awesome 5 Free';
  }
  
  .rememberMe1 {
    position: absolute;
    top: 0px;
    left: 46px;
    line-height: 150%;
    font-weight: 500;
  }
  
  .switchbaseChild {
    position: relative;
    border-radius: 50%;
    background-color: #fff;
    width: 13.5px;
    height: 13.5px;
  }
  
  .switchbase {
    position: absolute;
    height: 100%;
    width: 28.12%;
    top: 0%;
    right: 71.88%;
    bottom: 0%;
    left: 0%;
    border-radius: 97.74px;
    background-color: #0075ff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 1.4373492002487183px 2.5px 1.4373492002487183px 1.4373492002487183px;
    box-sizing: border-box;
    align-items: flex-end;
    justify-content: center;
  }
  
  .rememberMe {
    position: absolute;
    top: 526.5px;
    left: 43.5px;
    width: 128px;
    height: 18.5px;
    font-size: 12px;
    color: #fff;
  }
  
  .yourPassword {
    position: relative;
    line-height: 140%;
    font-weight: 500;
  }
  
  .password1 {
    position: absolute;
    top: 0px;
    left: 4.5px;
    line-height: 140%;
    font-weight: 500;
    color: #fff;
  }
  
  .passwordTextIcon3 {
    position: relative;
    width: 35px;
    height: 3.5px;
    display: none;
  }
  
  .content5 {
    position: relative;
    width: 0px;
    height: 0px;
  }
  
  .minwidth1 {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 0px 74px;
    align-items: center;
    justify-content: center;
  }
  
  .inputfieldtext {
    width: 311px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  .password {
    position: absolute;
    height: 10.52%;
    width: 80.28%;
    top: 50.6%; /* Updated value */
    right: 9.75%;
    bottom: 29.52%;
    left: 9.98%;
  }
  
  .name {
    position: absolute;
    height: 10.52%;
    width: 80.28%;
    top: 32.19%;
    right: 9.75%;
    bottom: 55.69%; /* Updated value */
    left: 9.98%;
  }
  
  .register {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 130%;
  }
  
  .title {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 68px;
    height: 23px;
  }
  
  .registerWith {
    position: absolute;
    top: 149px;
    left: 184px;
    width: 68px;
    height: 23px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-family: Roboto;
  }
  
  .background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 436px;
    height: 713px;
  }
  
  .login {
    position: relative;
    width: 100%;
    height: 713px;
    text-align: left;
    font-size: 14px;
    color: #a0aec0;
    font-family: 'Plus Jakarta Display';
  }
  