@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Font+Awesome+5+Free:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Display:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Helvetica:wght@400;700&display=swap');
@import 'swiper/swiper.scss';
@import 'swiper/components/navigation/navigation.scss';
@import 'swiper/components/pagination/pagination.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;




body {
    margin: 0;
    line-height: normal;
   /* width: 200%;
     height: 200%;
   transform-origin: top left;
    transform: scale(50%);*/
}

/**
 * 1. Use the system font stack as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 * to override it to ensure consistency even when using the default theme.
  * 3. Prevent padding and border from affecting element width
 * https://goo.gl/pYtbK7
 * 4. Change the default font family in all browsers (opinionated)
 * 5. Correct the line height in all browsers.
 * 6. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
/*    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/ /* 1 */
    /*    line-height: 1.5;  */
    line-height: normal;

    box-sizing: border-box; /* 3 */
    font-family: sans-serif; /* 4 */
    /* line-height: 1.15;*/ /* 5 */
    -webkit-text-size-adjust: 100%; /* 6 */

    zoom: .65;


    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/signup-bg.png");
    background-size: cover;
    background-position: center;
}


.bg-nav {
  /*background-color: #00008B;*/
-webkit-box-shadow: 8px 8px 32px 4px rgba(0,0,0,0.2);
-moz-box-shadow: 8px 8px 32px 4px rgba(0,0,0,0.2);
box-shadow: 8px 8px 32px 4px rgba(0,0,0,0.2);

    /* box-shadow: 8px 8px 32px 4px rgba(0,0,0,12.2); */
  /*  position: absolute;
    width: 100%;*/
/*-webkit-box-shadow: 8px 8px 48px 4px rgba(0,0,0,0.4);
-moz-box-shadow: 8px 8px 48px 4px rgba(0,0,0,0.4);
box-shadow: 8px 8px 48px 4px rgba(0,0,0,0.4);*/
}


.bg-app {

/*  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/signup-bg.png");
        background-size: cover;
        background-position: center;*/
/*
  background-image: url("assets/signup-bg.png");
*/

/*backgroundImage: `linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/signup-bg.png")`;
             backgroundSize: 'cover';
              backgroundPosition: 'center';*/
}

.bg-card-my{
background-color: rgba(0,0,0,0.3);
width:100%;
   /*   backgroundImage: 'linear-gradient(127.09deg, rgba(6, 11, 40, 0.94) 19.41%, rgba(10, 14, 35, 0.49) 76.65%)';
      Color: 'rgba(0, 0, 0, 0.87)';*/

}



 ._logo_15l4f_35{
    top: 12px;
    left: 20px;

/*    position: absolute;
    right: 20px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;*/
}

.text-gradient-white {

/*    position: absolute;
    top: 24px;
    left: 44px;*/
    letter-spacing: 0.18em;
    line-height: 100%;
    font-weight: 500;
    background: linear-gradient(97.89deg, #fff, rgba(117, 122, 140, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.bg-side-nav {
/*  background-color: #00008B;*/
}

.bg-nav-item {
  background-color: #626b7a;
}


* {
    font-family: 'Inter', sans-serif;
}

@media screen and (min-width: 480px) {
    .card:nth-child(7n + 1) {
        grid-column: auto/span 2;
        grid-row: auto/span 2;
    }
}

.prompt::-webkit-scrollbar {
    width: 5px;
}

.prompt::-webkit-scrollbar-thumb {
    background-color: #666e75;
    border-radius: 5px;
}


/* CSS file or style block */
.transition-transform {
    transition: transform 0.3s ease;
    /* Adjust the duration and timing function as desired */
}

.zoom-in {
    transform: scale(1);
}

.zoom-in:hover {
    transform: scale(1.05);
    /* Increase the scale value to control the zoom amount */
}

/* in your CSS file */
@keyframes spinner {
    to {transform: rotate(360deg);}
  }
  
  .spinner {
    margin: 50px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner > div {
    background-color: #2270d6;
    height: 100%;
    width: 6px;
    display: inline-block;
    
    animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  }
  
  .spinner div:nth-child(1) {
    animation-delay: -0.036s;
  }
  
  .spinner div:nth-child(2) {
    animation-delay: -0.072s;
  }
  
  .spinner div:nth-child(3) {
    animation-delay: -0.108s;
  }
  
  .spinner div:nth-child(4) {
    animation-delay: -0.144s;
  }
  
  .spinner div:nth-child(5) {
    animation-delay: -0.18s;
  }

  .notification-card {
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 100%;
    box-sizing: border-box;
  }
  
